<h1>Create a new post</h1>
	

<div class="panel-heading">
	<!-- <div class="panel panel-default"> -->
		<%= render 'form', post: @post %>
	<!-- </div> -->

	<button type="button" class="btn btn-success">
		<%= link_to 'Back', posts_path %>
	</button>

</div>