/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap'; 

td{
	min-width:150px;
	min-height:100px;
	/*background-color:#555;*/
	/*border:5px solid red;*/
	
}
#duh{
	/*border:5px solid red;*/
	}
.btn{
	margin-bottom: 4px;
}
.btn a{
	color:#fff;
	}
.btn a:visited{
	color:#fff;
	}
.btn :hover{
	color:#fff;
	}
.btn a:hover { 
	background-color:rgba(0,0,0,0.0)!important ;
	}
.btn-primary{
	/*background: red;*/
}
.panel-default .panel-heading{
	/*background: blue; */
}

.icon{
	max-width: 25px;
	max-height: 25px;
}